body{
  font-family: 'Dancing Script', cursive;
  background-color: #02010a;
}

header{
  text-shadow: 2px 2px 2px #02010a;
}
header h1{
  text-indent: 20px;
}
nav{
  display: block;
  border: 50px;
  text-align: right;
  margin:auto;
  vertical-align: center;
}
nav a{
  display: inline;
  text-align: right;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}
#imagen1{
  background-color: #82c3a6;
  text-align: center;
}
.contenedor {
  background-color: #5b7989;
  color: white;
	flex-direction: row;
  border-radius: 10px 10px 0px 0px;
  display: flex;
}
#contenedor2 {
  background-color: #d5c75f;
  flex-direction: row;
  display: -webkit-flex;
  text-align: center;
  color: white;
  font-size: 2em;
}
#imagen1 img{
  width: 80%;
  margin: 50px;
}
#imagen2{
  width: 50%;
}
#imagen2 img{
  width: 90%;
  text-align: center;
  margin: 40px;
  border: 2px solid black;
  box-shadow: 4px 4px  #82c3a6;
  display: flex;
}
#imagen3{
  width: 50%;
}
#imagen3 img{
  width: 65%;
  text-align: center;
  margin: 40px;
  border: 2px solid black;
  box-shadow: 4px 4px  #82c3a6;
  display: flex;
}
#imagen2 img:hover{
  transform: rotate(10deg);
  transition: rotate, 2s;
}
#imagen3 img:hover{
  transform: translate(20px,-5px);
  transition: translate, 2s;
}
.contenedor3{
  background-color:  #C6d5c5;
  border: 1px solid #C6d5c5;
  display: -webkit-flex;
  text-align: center;
  color: black;
  font-size: 1em;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.datos1{
  width: 24%;
  text-align: center;
  margin: 3px;
}
.datos2{
  width: 24%;
  text-align: center;
  margin: 3px;
}
.datos3{
  width: 24%;
  text-align: center;
  margin: 3px;
}
.datos4{
  width: 24%;
  text-align: center;
  margin: 3px;
}
p img{
  width: 25px;
}
.contenedor4{
  background-color: #d5c75f;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.contenedor5{
  background-color: #d5c75f;
  flex-direction: row;
  display: flex;
  text-align: center;
  color: white;
  font-size: 2em;
}
.imagen41{
  width: 31%;
  text-align: center;
  margin: 5px;
  -webkit-filter:blur(10px)
}
.imagen41 img{
  width: 90%;
  text-align: center;
  margin: 5px;
  border: 2px solid black;
  box-shadow: 2px 2px  #02010a;
  -webkit-filter:blur(10px)
}

.imagen42{
  width: 31%;
  text-align: center;
  margin: 5px;
  -webkit-filter:grayscale(100%)
}
.imagen42 img{
  width: 90%;
  text-align: center;
  margin: 5px;
  border: 2px solid black;
  box-shadow: 2px 2px  #02010a;
  -webkit-filter:grayscale(100%)
}

.imagen43{
  width: 31%;
  text-align: center;
  margin: 5px;
  -webkit-filter:sepia(90%)
}
.imagen43 img{
  width: 90%;
  text-align: center;
  margin: 5px;
  border: 2px solid black;
  box-shadow: 2px 2px  #02010a;
  -webkit-filter:sepia(90%)
}

.imagen44{
  width: 31%;
  text-align: center;
  margin: 5px;
  -webkit-filter:grayscale(100%)
}
.imagen44 img{
  width: 90%;
  text-align: center;
  margin: 5px;
  border: 2px solid black;
  box-shadow: 2px 2px  #02010a;
  -webkit-filter:grayscale(100%)
}
.imagen45{
  width: 31%;
  text-align: center;
  margin: 5px;
}
.imagen45 img{
  width: 90%;
  text-align: center;
  margin: 5px;
  border: 2px solid black;
  box-shadow: 2px 2px  #02010a;
}

.imagen46{
  width: 31%;
  text-align: center;
  margin: 5px;
  -webkit-filter:grayscale(100%)
}
.imagen46 img{
  width: 90%;
  text-align: center;
  margin: 5px;
  border: 2px solid black;
  box-shadow: 2px 2px  #02010a;
  -webkit-filter:grayscale(100%)
}

@media all and (min-width:900px) {
  .contenido{
    width: 900px;
    text-align: center;
    margin: 0 auto;
  }
}
@media all and (max-width:899px) {
  .contenido{
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  #imagen2{
  width: 100%;
  margin: 0 auto;
  }
  #imagen3{
  width: 100%;
  margin: 0 auto;
  }
  .datos1{
    width: 100%;
    margin:0 auto;
    order: 1;
  }
  .datos2{
    width: 100%;
    margin:0 auto;
    order: 2;
  }
  .datos3{
    width: 100%;
    margin:0 auto;
    order: 3;
  }
  .datos4{
    width: 100%;
    margin:0 auto;
    order: 4;
  }
  .imagen41{
  width: 100%;
  margin: 0 auto;
  }
  .imagen42{
  width: 100%;
  margin: 0 auto;
  }
  .imagen43{
  width: 100%;
  margin: 0 auto;
  }
  .imagen44{
  width: 100%;
  margin: 0 auto;
  }
  .imagen45{
  width: 100%;
  margin: 0 auto;
  }
  .imagen46{
  width: 100%;
  margin: 0 auto;
  }

}
